extends layout

block title
  タイトル

block subtitle
  さぶたいとる

block profile
  ul
    li 学部・学年・肩書き
    li 氏名

block content
  section
    h1 最初の段の見出し
    section
      h1 ないよう
      p pタグをつかってちまちまかく。

  section
    h1 次の段
    p 目次は自動で入ります。この段の見出しには2と書いてあるはず。