doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
    script(type="text/javascript", src="./javascripts/jquery-1.8.2.js")
    script(type="text/javascript", src="./javascripts/toc.js")
    title
      block title
  body
    div#wrap
      header#header
        header
          block subtitle
        h1
          block title
        footer
          block profile
      article#main
        block abstruct
        block content