body {
    background-color: #888;
    font-family: serif;
}

h1 {
    padding: 0.5em 0em 0em 0em; margin: 0em;
    font-size: 100%;
}

#wrap {
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 1em;
    box-shadow: 0em 0em 1em black;
}

#header h1 {
    padding: 0em; margin: 0em;
    font-size: 200%;
}
#header footer {
    display: block;
    text-align: right;
}
#header ul, #header li {
    display: block;
}


#toc {
    background-color: #eee;
    padding: 1em;
    box-shadow: -0.1em -0.1em 0.2em rgba(0, 0, 0, 0.5) inset;
    border-radius: 0.5em;
}

#toc ul {
    display: block;
    margin: 0em;
    padding: 0em 0em 0em 1em;
}

#toc li {
    display: block;
    margin: 0em;

}

article h1 {
    border-bottom: solid 2px gray;
    text-align: left !important;
    margin-bottom: 0.5em;
    padding: 0em 0em 0em 0.2em;
}

article p {
    text-indent: 1em;
}
article section {
    margin: 2em 0em;
    border-style: none !important;
}
article section section {
    margin: 0em 0em 0em 1em;
}
article section section h1 {
    border-style: none;
    margin: 1em 0em;
}
article table {
    background-color: gray;
}
article th {
    color: white;
    background-color: #333;
    padding: 0.5em;
    min-width: 3em;
    vertical-align: top;
}
article td {
    vertical-align: top;
    background-color: white;
    padding: 0.5em;
}
article ul {
    display: block;    
    margin: 0em;
    padding: 0em 0em 0em 1.5em;
}